.animation-point-downward {
    animation: pointingDown 2.5s ease infinite;
}
.animation-loading-downward svg {
    
}
.animation-loading-downward svg path {
    opacity: 0;
    animation: loading-opacity 1.2s linear infinite;
}
.animation-loading-downward svg path:nth-child(1) {
    animation-delay: 0.95s;
}
.animation-loading-downward svg path:nth-child(2) {
    animation-delay: 0.65s;
}
.animation-loading-downward svg path:nth-child(3) {
    animation-delay: 0.35s;
}
.animation-loading-downward svg path:nth-child(4) {
    animation-delay: 0s;
}
@keyframes pointingDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25%);
    }
}
@keyframes loading-opacity {
      0%   { opacity: 0; }
      25%  { opacity: 1; }
      100% { opacity: 0; }
}