.animation-point-downward {
    animation: pointingDown 2.5s ease infinite;
}
@keyframes pointingDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25%);
    }
}